# LINE WORKS OAuth2
LW_CLIENT_ID=[YOUR_CLIENT_ID_HERE]
LW_CLIENT_SECRET=[YOUR_CLIENT_SECRET_HERE]
LW_SERVICE_ACCOUNT=[YOUR_SERVICE_ACCOUNT_ID_HERE]
LW_PRIVATE_KEY="[YOUR_RSA_PRIVATE_KEY_PEM_HERE]"

# LINE WORKS IDs
LW_DOMAIN_ID=[YOUR_DOMAIN_ID_HERE]
LW_BOT_ID=[YOUR_BOT_ID_HERE]
LW_CHANNEL_ID=[YOUR_CHANNEL_ID_HERE]
LW_FORM_ID=[YOUR_FORM_ID_HERE]
